.container {
  font-size: 16px;
  background-color: #0a0a0a;
  color: #cacaca;
  margin: 0;
  padding: 12px;
}

.row,.inter-row{
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.inter-row{
  align-items: center;
}

.inter-row .locale {
  width: 40%;
}

[class*="col-"] {
  display: flex;
  flex-direction: column;
}

[class*="col-"] {
  flex: 0; 
}

.col-12 {
  flex: 12;
}
.col-11 {
  flex: 11;
}
.col-10 {
  flex: 10;
}
.col-9 {
  flex: 9;
}
.col-8 {
  flex: 8;
}
.col-7 {
  flex: 7;
}
.col-6 {
  flex: 6;
}
.col-5 {
  flex: 5;
}
.col-4 {
  flex: 4;
}
.col-3 {
  flex: 3;
}
.col-2 {
  flex: 2;
}
.col-1 {
  flex: 1;
}

.header{
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-bottom: 2px;
  text-align: center;
}

.channel-wrapper, .vendor-wrapper, .microservices-wrapper,.locale-wrapper, .type-wrapper {
  border: 2px solid #FFB03B;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 8px;
  margin: 4px;
  border-radius: 8px;
  background-color: #0a0a0a;
}
.locale-wrapper{
  padding: 26px 8px;
}
.chart-wrapper{
  border: 2px solid #FFB03B;
  border-radius: 8px;
  padding: 12px 8px;
  margin: 4px;
}

.title{
  writing-mode: tb-rl;
  transform: rotate(-180deg);
  text-transform: uppercase;
}

.item-wrapper,.ms-item-wrapper,.ch-item-wrapper, .loc-item-wrapper,.type-item-wrapper{
  display: grid;
  padding: 8px 12px;
  display: grid;
  gap: 0;
  width: 100%;
  grid-template-columns: repeat( auto-fill, minmax(140px, 1fr));
}

.ms-item-wrapper{
  grid-template-columns: repeat( auto-fill, minmax(180px, 1fr));
  padding: 2px 12px;
}

.ch-item-wrapper,.loc-item-wrapper{
  grid-template-columns: repeat( auto-fill, minmax(100px, 1fr));
}
.type-item-wrapper{
  grid-template-columns: repeat( auto-fill, minmax(160px, 1fr));
}

.comp-items,.ms-comp-items{
  border: 1px solid #878787;
  padding: 4px;
  font-size: 12px;
  font-weight: 600;
  margin: 6px 8px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ms-comp-items{
  margin: 4px 8px;
}

.status{
  width: 16px;
  height: 16px;
  background-color: #3c3c3c;
  border-radius: 50%;
  border: 1px solid #878787;  
}
